.square {
    outline: 1px solid black;
    max-height: 100%;
    max-width: 100%;
    flex-grow: 1;
    
}

.row {
    flex-grow: 1;
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

#container {
    display: flex;
    outline: 2px solid black;
    flex-wrap:wrap;
    flex-direction: column;
    flex: 1;
    height: 98vh;
    width: 98vw;
}